@*@using Hungry.Shared.Models

<div class="input-group">
    <div class="input-group-text">
        <InputCheckbox class="form-check-input mt-0" @bind-Value="Item.Bought"/>
    </div>
    <InputText class="form-control" @bind-Value="Item.Name"/>
    <a class="btn btn-danger" @onclick="() => DeleteItem(item)">
        <span class="oi oi-trash"></span>
    </a>

</div>


@code {
    [Parameter]
    public Item Item { get; set; }
    [Parameter]
    public Func<void> DeleteFunction {get;set}
}
*@