@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hungry.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hungrydays">
                <span class="oi oi-calendar" aria-hidden="true"></span> Hungry Days
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hungrydays/grocerylist">
                <span class="oi oi-list" aria-hidden="true"></span> Grocery List
            </NavLink>
        </div>
    </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //private string? ActiveNavLink => 

    private void ToggleActiveNavLink(int id)
    {
        activeNavLinks.ForEach(x => x = false);
        activeNavLinks[id] = true;
    }

    private List<bool> activeNavLinks { get; set; } = new List<bool>
    {
        true,
        false,
        false,
        false,
        false,
        false,
        false,
    };
}




<ul class="nav nav-tabs nav-fill card-header-tabs">
	<li class="nav-item"><NavLink class="nav-link" href="/0">Mon</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/1">Tues</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/2">Wed</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/3">Thur</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/4">Fri</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/5">Sat</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/6">Sun</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="#">Grocery List</NavLink></li>
</ul>
