<ul class="nav nav-tabs nav-fill card-header-tabs">
	<li class="nav-item"><NavLink class="nav-link" href="/1">Mon</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/2">Tues</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/3">Wed</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/4">Thur</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/5">Fri</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/6">Sat</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/7">Sun</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/grocerylist">Grocery List</NavLink></li>
</ul>