@using Hungry.Shared.Models
@using Hungry.Shared.Repositories

@page "/hungrydays/detail/{Id:int}"

<PageTitle>Detail</PageTitle>

@inject HungryRepository _hungryRepostiory


<div class="row">

<HungryDayComponent Id=@hungryDay.Id Name=@hungryDay.Name Diner=@hungryDay.Diner Items=@hungryDay.Items/>

</div>
@code {
    public HungryDay? hungryDay;

    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        hungryDay = _hungryRepostiory.GetHungryDay(Id);
    }
}
