@using Hungry.Shared.Models
@using Hungry.Shared.Repositories

@page "/hungrydays"

<PageTitle>List</PageTitle>

@inject HungryRepository _hungryRepostiory

<div class="row">
@foreach(var day in hungryDays)
{
    <div class="col-md-6" >
        <a href="hungrydays/edit/@day.Id" style="color: inherit; text-decoration: none;">
            <HungryDayComponent Id=@day.Id Name=@day.Name Diner=@day.Diner Items=@day.Items></HungryDayComponent>
        </a>
    </div>
}
</div>

@code {
    public List<HungryDay>? hungryDays;

    protected override void OnInitialized()
    {
        hungryDays = _hungryRepostiory.GetHungryDays();
    }
}
