@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_SubLayout";
}

@model HungryDay;

@{
    var day = Model;
}

<h1>User detail page</h1>
<hr />
@section ContentLeft 
{
    <a asp-controller="Hungry" asp-action="Index" class="btn btn-outline-success mb-2">
        <div class="row">
                <div class="col-md-12"><i class="bi bi-arrow-left" style="font-size: 1rem;"></i></div>
                <div class="col-md-12">Go back</div>
        </div>
    </a>
    <a asp-controller="Hungry" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning mb-2">
        <div class="row">
                <div class="col-md-12"><i class="bi bi-pencil" style="font-size: 1rem;"></i></div>
                <div class="col-md-12">Edit</div>
        </div>
    </a>

}


@section ContentRight 
{
    <div class="row">

        <div class="col-md-12">
            <div class="card mb-3" >
              <div class="card-body">
                <h5 class="card-title">@day.Name</h5>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">Diner</span>
                  <input type="text" class="form-control" value="@day.Diner" disabled>
                </div>

                        @foreach(var item in day.Items)
                        {
                            <div class="input-group">
                                <div class="input-group-text">
                                    @if(item.Bought)
                                    {
                                    <input class="form-check-input mt-0" type="checkbox" checked >
                                    }
                                    else
                                    {
                                    <input class="form-check-input mt-0" type="checkbox" >
                                    }
                                </div>
                                <input type="text" class="form-control" value="@item.Name" disabled>
                            </div>

                        }
              </div>
            </div>
        </div>

    </div>
}


