<ul class="nav nav-tabs nav-fill card-header-tabs">
	<li class="nav-item"><NavLink class="nav-link" href="/0">Mon</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/1">Tues</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/2">Wed</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/3">Thur</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/4">Fri</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/5">Sat</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/6">Sun</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="#">Grocery List</NavLink></li>
</ul>