@page "/"

<div class="page">
    <!--For Page-->
    <div class="row">
      <!--Card-->
      <div class="card">
        <!--Card Header-->
        <div class="card-header">
          <p>
            <i class="fa fa-bars"></i>
            <i class="fa fa-calendar ms-4" aria-hidden="true"></i>
            <i class="fa fa-star ms-4" aria-hidden="true"></i>
            <span class="float-right">
              <span class="me-4 navTask">Task</span>
              <span class="me-4">Archive</span>
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <!--Card Body-->
        <div class="card-body">
            <div class="row">
              <div class="col-12">
                  <div class="row justify-content-end">
                      <div class="col-6">
                        <span class="today">Today</span>
                      </div>
                      <div class="col-6">
                        <span class="float-right headingright">7h 15min</span>
                      </div>
                  </div>

              </div>
              <p>
                @*<i class="fa fa-thumb-tack me-2" aria-hidden="true"></i>*@
                <span class="diner">Pizza</span>
              </p>

              <p>
                <i class="fa fa-circle-thin me-2"></i>
                <span class="task">Create new templates</span>
              </p>

              <p class="text-muted">
                <i class="fa fa-plus me-1" aria-hidden="true"></i> Add Task for Today
              </p>
            </div>

          <p class="heading2">
            <span class="tomorrow">Tomorrow</span>
            <span class="float-right headingright">6h 30min</span>
          </p>
          <p class="task2 mt-4">
            <i class="fa fa-calendar me-2" aria-hidden="true"></i>
            <span class="task">Breakfast with the Marketing team</span>
          </p>
        </div>
      </div>
    </div>
</div>