@page "/"

<!--For Page-->
<div class="page">
  <!--Card-->
  <div class="card">
    <!--Card Header-->
    <div class="card-header">
      <p>
        <i class="fa fa-bars"></i>
        <i class="fa fa-calendar ms-4" aria-hidden="true"></i>
        <i class="fa fa-star ms-4" aria-hidden="true"></i>
        <span class="float-right">
          <span class="me-4 navTask">Task</span>
          <span class="me-4">Archive</span>
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <!--Card Body-->
    <div class="card-body">
      <p class="heading1">
        <span class="today">Today</span>
        <span class="float-right headingright">7h 15min</span>
      </p>
      <p>
        <i class="fa fa-calendar me-2" aria-hidden="true"></i>
        <span class="task mt-4">Take kids to school</span>
        <span class="time ms-2">8:00-8:30AM</span>
        <span class="float-right">30min</span>
      </p>
      <p>
        <i class="	fa fa-circle-thin me-2"></i>
        <span class="task">Process email</span>
        <i class="fa fa-thumb-tack ms-2" aria-hidden="true"></i>
        <span class="time ms-2">8:00-9:30AM</span>
        <span class="float-right">1h</span>
      </p>
      <p>
        <i class="fa fa-calendar me-2" aria-hidden="true"></i>
        <span class="task">Daily Stand-Up meeting</span>
        <span class="time ms-2">9:00-10:00AM</span>
        <span class="float-right">30min</span>
      </p>
      <p>
        <i class="	fa fa-circle-thin me-2"></i>
        <span class="task">Create new templates</span>
        <i class="fa fa-thumb-tack ms-2" aria-hidden="true"></i>
        <i class="fa fa-user ms-2"></i>
        <span class="time ms-2">10:00-11:45AM</span>
        <span class="float-right">1h 45min</span>
      </p>
      <p>
        <i class="fa fa-calendar me-2" aria-hidden="true"></i>
        <span class="task">Lunch with Anna</span>
        <span class="time ms-2">12:00-12:30PM</span>
        <span class="float-right">30min</span>
      </p>
      <p class="text-muted">
        <i class="fa fa-plus me-1" aria-hidden="true"></i> Add Task for Today
      </p>
      <p class="heading2">
        <span class="tomorrow">Tomorrow</span>
        <span class="float-right headingright">6h 30min</span>
      </p>
      <p class="task2 mt-4">
        <i class="fa fa-calendar me-2" aria-hidden="true"></i>
        <span class="task">Breakfast with the Marketing team</span>
        <span class="time ms-2">8:00-8:30AM</span>
        <span class="float-right">30min</span>
      </p>
    </div>
  </div>
</div>