<div class="row">
    <div class="col-1 text-center align-self-center">
      <i class="far fa-list-alt"></i>
    </div>
    <div class="col-8 text-break align-self-center">
      <label class="col-form-label fw-bold">Grocery list</label>
    </div>
  </div>

  <hr />


  <div class="row mb-3">
    <div class="col-10">
      <div id="createIngredient" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create ingredient</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
              <div class="modal-body">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" />
                <label class="form-label">Amount</label>
                <input class="form-range form-control" type="range" min="0" max="10" step="1" value="0" name="Amount" />
                <label class="form-label">Store</label>
                <select class="form-select form-select">
                  <option value="Ah">Albert heijn</option>
                </select>
                <div class="form-check mt-4">
                  <input id="formCheck-1" class="form-check-input" type="checkbox" />
                  <label class="form-check-label" for="formCheck-1">Bought</label>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <button class="btn btn-success w-100" type="button" data-bs-target="#createIngredient" data-bs-toggle="modal">+</button>
    </div>
    <div class="col-1">
      <div id="deleteAll" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete all ingredients</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
              <div class="modal-body">
                <p>Are you sure you want to delete all ingredients</p>
              </div>
              <div class="modal-footer">
                <form>
                  <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-danger" type="submit">Delete</button>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>
      <button class="btn btn-light font-monospace" type="button" data-bs-target="#deleteAll" data-bs-toggle="modal">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
          <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
          <path d="M464 16c-17.67 0-32 14.31-32 32v74.09C392.1 66.52 327.4 32 256 32C161.5 32 78.59 92.34 49.58 182.2c-5.438 16.81 3.797 34.88 20.61 40.28c16.89 5.5 34.88-3.812 40.3-20.59C130.9 138.5 189.4 96 256 96c50.5 0 96.26 24.55 124.4 64H336c-17.67 0-32 14.31-32 32s14.33 32 32 32h128c17.67 0 32-14.31 32-32V48C496 30.31 481.7 16 464 16zM441.8 289.6c-16.92-5.438-34.88 3.812-40.3 20.59C381.1 373.5 322.6 416 256 416c-50.5 0-96.25-24.55-124.4-64H176c17.67 0 32-14.31 32-32s-14.33-32-32-32h-128c-17.67 0-32 14.31-32 32v144c0 17.69 14.33 32 32 32s32-14.31 32-32v-74.09C119.9 445.5 184.6 480 255.1 480c94.45 0 177.4-60.34 206.4-150.2C467.9 313 458.6 294.1 441.8 289.6z"></path>
        </svg>
      </button>
    </div>
  </div>

  <hr />

  <div class="row mt-2">
    <div class="col-1 align-self-center">
      <input class="form-check-input" type="checkbox" />
    </div>
    <div class="col-2 col-sm-3 col-md-3 align-self-center">
      <a class="text-break link-dark text-decoration-none" href="#" data-bs-target="#editIngredient" data-bs-toggle="modal">Bospeen Wortel</a>
      <div id="editIngredient" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit ingredient</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
              <div class="modal-body">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" />
                <label class="form-label">Amount</label>
                <input class="form-range form-control" type="range" min="0" max="10" step="1" value="0" name="Amount" />
                <label class="form-label">Store</label>
                <select class="form-select form-select">
                  <option value="Ah">Albert heijn</option>
                </select>
                <div class="form-check mt-4">
                  <input id="formCheck-2" class="form-check-input" type="checkbox" />
                  <label class="form-check-label" for="formCheck-2">Bought</label>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 align-self-center">
      <label class="col-form-label fw-bold">2x</label>
    </div>
    <div class="col-2 col-sm-3 col-md-3 align-self-center">
      <label class="col-form-label text-break">Albert Heijn</label>
    </div>
    <div class="col-2 col-sm-1 col-md-1">
      <label class="col-form-label">Monday</label>
    </div>
    <div class="col-1 offset-2 offset-sm-1 offset-md-1 align-self-center">
      <button class="btn btn-danger font-monospace" type="button" data-bs-target="#deleteIngredient-1" data-bs-toggle="modal">
        <i class="far fa-trash-alt"></i>
      </button>
      <div id="deleteIngredient-1" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete ingredient</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this ingredient?</p>
            </div>
            <div class="modal-footer">
              <form>
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>